/target
.DS_Store
**/*.rs.bk
*.exe
*.spec
*.bin
build
win-unpacked
node_modules
package-lock.json
upload
win
linux
temp.jsx
temp.rsx
Cargo.lock
flash.rs
linux_x86-64
win_x86-64
flashsn8
dist
flashsn8.dist
deploy