/target
.DS_Store
**/*.rs.bk
*.exe
*.spec
*.bin
fw*.asm
build
win-unpacked
node_modules
package-lock.json
upload
win
linux
temp.jsx
temp.rsx
Cargo.lock
flash.rs
linux_x86-64
win_x86-64
dist
deploy
python-*-embed-*
__pycache__
.venv*
